body {
    margin: 0px;
    padding: 0px;
    font-size: 18px;
    line-height: 24px;
    font-family: "Arial", sans-serif;
    color: #404040;
    background-color: #ffffff;
    min-width: 1035px;
}

.container {
    width: 1015px;
    margin-top: 0;
    margin-bottom: 0;
    margin-left: auto;
    margin-right: auto;
}

.clearfix::after {
    content: "";
    display: table;
    clear: both;
}

.page-header {
    min-height: 490px;
    padding-top: 15px;
    background-image: url("../img/slide-1.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    margin: 0;
}

.header-logo {
    float: left;
    width: 140px;
    height: 76px;
}

.header-logo img {
    width: 140px;
    height: 76px;
}

.header-top {
    margin-bottom: 0px;
}

.main-nav {
    float: left;
    width: 705px;
    margin: 0;
    margin-top: 10px;
    margin-left: 80px;
    padding: 0;
    list-style: none;
    margin-bottom: 125px;
    border-bottom: 1px solid #FFCB78;
    border-top: 1px solid #FFCB78;
    padding-top: 20px;
    padding-bottom: 20px;
}

.main-nav li {
    float: left;
    margin-right: 60px;
    text-transform: uppercase;
}

.main-nav li:last-child {
    margin-right: 0;
}

.page-header,
.page-footer {
    color: #ffffff;
}

.main-nav a {
    text-decoration: none;
    color: #ffffff;
}

.main-nav a:hover {
    text-decoration: underline;
}

.main-nav a:active {
    color: rgba(255, 255, 255, 0.3);
}

.btn {
    color: #a38b70;
    text-decoration: none;
    text-transform: uppercase;
    display: inline-block;
    vertical-align: top;
    border: 2px solid #834700;
    padding: 10px;
    border-radius: 2px;
    font-size: 18px;
}

.btn:hover {
    color: #8d745a;
    border-color: #8d745a;
}

.btn:active {
    color: rgba(141, 116, 90, 0.3);
    border-color: rgba(141, 116, 90, 0.3);
}

.promo {
    font-family: "Arial", sans-serif;
    font-weight: bold;
    font-size: 65px;
    line-height: 55px;
    text-align: center;
    color: #ffffff;
}

.new {
    padding-top: 90px;
    padding-bottom: 115px;
}

.new-list {
    float: left;
}

.new-item-1 {
    float: left;
    width: 370px;
    margin-left: 40px;
    border-left: 1px solid #EBEBEB;
    padding-left: 30px;
    border-right: 1px solid #EBEBEB;
    padding-right: 30px;
}

.new-item-2 {
    float: right;
    width: 370px;
    position: relative;
    border-left: 1px solid #EBEBEB;
    padding-left: 30px;
    border-right: 1px solid #EBEBEB;
    padding-right: 30px;
}

.new-item-1 h2 {
    margin: 0;
    margin-bottom: 20px;
}

.new-item-2 h2 {
    margin: 0;
    margin-bottom: 20px;
}

.new-item-price {
    float: right;
    min-width: 55px;
    margin-bottom: 20px;
    padding-top: 10px;
}

.new-item-1 p {
    font-size: 18px;
}

.new-item-2 p {
    font-size: 18px;
}

.new-item-1-table {
    width: 200px;
    position: absolute;
    margin-left: 200px;
} 

.new-item-2-table {
    width: 200px;
    position: absolute;
    top: 0;
    right: 0;
}

.new-item-1-table tr {
    font-weight: bold;
}

.item-table {
    border-top: 1px solid #EBEBEB;
    padding-top: 20px;
}

.new-item-2-table tr {
    font-weight: bold;
}

.btn-more {
    padding-left: 15px;
    padding-right: 15px;
    color: #834700;
}

.btn-buy {
    padding-left: 15px;
    padding-right: 15px;
    background-color: #834700;
    color: #ffffff;
}

.features {
    background-color: #FFCB78;
    padding-top: 50px;
    padding-bottom: 50px;
}

.features ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

.feature-item {
    text-align: left;
    border-left: 1px solid #E7B66A;
    padding-top: 80px;
    float: left;
    width: 210px;
    height: 230px;
    margin-right: 75px;
    position: relative;
}

.feature-item:first-child {
    border-left: none;
}

.feature-item::before {
    content: "";
    position: absolute;
    width: 65px;
    height: 65px;
    top: 0;
    left: 10;
    background-image: url("../img/sprite.png");
    background-repeat: no-repeat;
}

.feature-handmade::before {
    background-position: -5px -157px;
}

.feature-our::before {
    background-position: -5px -81px;
}

.feature-noeconomy::before {
    background-position: -5px -5px;
}

.feature-our {
    padding-left: 75px;
}

.feature-noeconomy {
    padding-left: 75px;
}

.feature-item p {
    font-size: 16px;
    margin: 0;
}

.feature-title {
    font-family: "Arial", sans-serif;
    font-weight: bold;
    font-size: 24px;
    line-height: 30px;
    text-align: left;
    text-transform: uppercase;
    color: #000000;
    margin: 0px;
    margin-bottom: 20px;
}

.section-title {
    font-family: "Arial", sans-serif;
    font-weight: bold;
    font-size: 40px;
    line-height: 40px;
    text-align: left;
    text-transform: uppercase;
    color: #000000;
    margin-top: 0;
    margin-bottom: 90px;
}

.history {
    padding-top: 90px;
    padding-bottom: 0px;
}

.history dl {
    width: 805px;
    padding: 0px;
    margin: 0px;
}

.history dt {
    margin: 0;
    margin-bottom: 10px;
}

.history dd {
    position: relative;
    margin: 0;
    min-height: 101px;
}

.history dd img {
    position: absolute;
    border-radius: 5px;
    height: 101px;
    weight: 200px;
    top: 0;
    right: -25%;
}

.history dt + dd {
    margin-bottom: 90px;
}

.history-title {
    font-family: "Arial", sans-serif;
    font-weight: bold;
    font-size: 24px;
    line-height: 30px;
    text-align: left;
    text-transform: uppercase;
    color: #000000;
    margin-top: 0;
    margin-left: 0;
    display: inline;
}


.history-source {
    color: #424242;
    font-size: 18px;
    font-style: italic;
    padding-left: 250px;
}

.history dd {
    font-size: 18px;
}

.history img {
    border-radius: 5px;
}

.history-source a {
    color: #854A00;
    position: relative;
}

.history-source a:hover {
    color:#EBD7CC;
}

.history-source a:active {
    color:#A6865D;
}

.history-source a::after {
    content: "";
    position: absolute;
    top: 0;
    right: -10px;
    width: 8px;
    height: 8px;
    background: url("../img/sprite1.png") no-repeat -5px -210px;
}

.reviews {
    background-color: #EDE5D8;
    padding-top: 90px;
    padding-bottom: 100px;
}

.reviews .container {
    position: relative;
}

.btn-read-more {
    position: absolute;
    bottom: 0;
    left: 0;
    color: #A69F97;
    border-color: #A69F97;
}

.btn-read-more:hover {
    color: #434343;
    border-color: #434343;
}

.btn-read-more:active {
    color: #434343;
    border-color: #434343;
}
.review-item {
    font-size: 18px;
    margin: 0;
    padding: 0;
}

.reviews-author-block {
    margin-top: 90px;
}

.review-author {
    font-family: "Arial", sans-serif;
    font-weight: bold;
    font-size: 24px;
    line-height: 30px;
    text-transform: uppercase;
    font-style: normal;
    color: #000000;
    margin-left: 610px;
}

.price {
    padding-top: 90px;
    padding-bottom: 90px;
    margin: 0;
}
.price-list {
    line-height: 30px;
    border-collapse: collapse;
    width: 805px;
    margin-left: 100px;
}

.price-list th,
.price-list td {
    padding: 10px 17px;
}

.price-list td {
    text-align: center;
}
.price-list th {
    font-size: 14px;
    text-transform: uppercase;
    color: #969696;
}

.price-list td {
    border-bottom: 1px solid #d8d8d8;
}

.price-list tr {
    text-transform: uppercase;
}

.price-list .price-name {
    color: #000000;
    text-align: left;
    font-weight: bold;
    width: 400px;
    padding: 0;
    padding-left: 20px;
}

.price-list .price-name sup {
    color: #ffffff;
    font-size: 10px;
    padding-top: 2px;
    padding-bottom: 2px;
    padding-left: 4px;
    padding-right: 4px;
    background-color: #000000;
    border-radius: 3px;
}

.feedback {
    background-color: #FFCB78;
    padding: 0;
    padding-top: 90px;
    padding-bottom: 100px;

}

.feedback .container {
    position: relative;
}


.feedback-tip {
    font-size: 16px;
    width: 695px;
}

.feedback-form   {
    margin: 0;
    padding: 0;
}

.feedback-form-group {
    text-transform: uppercase;
    color: #000000;
    padding: 0;
    margin-bottom: 15px;
}

.feedback-form-group label {
    display: inline-block;
    font-weight: bold;
}

.feedback-form input[type="text"],
.feedback-form select,
.feedback-form textarea {
    font: inherit;
    color: inherit;
    background-color: #E6B66C;
    border: 1px solid  #E6B66C;
    width: 600px;
    float: right;
    box-sizing: border-box;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 10px;
}

.feedback-form input[type="text"]:hover,
.feedback-form select:hover,
.feedback-form textarea:hover {
    border: 1px solid #834700;  
}

.checkbox-area {
    text-transform: uppercase;
    color: #000000;
    display: block;
    margin-top: 20px;
    margin-right: 155px;
    float: right;
    font-weight: bold;
}

.checkbox-area input[type="checkbox"] {
    margin: 0;
    margin-right: 5px;
}    

.checkbox-area input[type="submit"] {
    margin: 0;
    margin-right: 5px;
    display: block;
    float: right;
    margin-top: 60px;
    margin-right: 180px;
}


.btn-order {
    color: #ffffff;
    background-color: #834700;
    display: block;
    position: absolute;
    bottom: -60px;
    left: 415px;
}

.page-footer {
    background-color: #000000;
    color: #c3c3c3;
    padding-top: 60px;
    padding-bottom: 50px;
}

.footer-nav {
    list-style: none;
    text-transform: uppercase;
}

.footer-nav a {
    text-decoration: none;
    color: #ffffff;
}

.footer-nav a:hover {
    text-decoration: underline;
}

.footer-nav a:active {
    color: rgba(255, 255, 255, 0.3);
}

.footer-bottom {
    padding-top: 50px;
}

.footer-logo {
    float: left;
    width: 140px;
    height: 76px;
}

.footer-logo img {
    width: 140px;
    height: 76px;
}

.footer-nav {
    float: left;
    width: 705px;
    margin: 0;
    margin-top: 30px;
    margin-left: 80px;
    padding: 0;
    list-style: none;
    margin-bottom: 125px;
}

.footer-nav li {
    float: left;
    margin-right: 60px;
    text-transform: uppercase;
}

.footer-nav li:last-child {
    margin-right: 0;
}

.footer-nav a {
    text-decoration: none;
    color: #ffffff;
}

.footer-nav a:hover {
    text-decoration: underline;
}

.footer-nav a:active {
    color: rgba(255, 255, 255, 0.3);
}

.footer-social {
    float: left;
    width: 225px;
    height: 70px;
    font-size: 0;
}

.social-btn {
    display: inline-block;
    vertical-align: middle;
    width: 60px;
    height: 60px;    
    background-image: url("../img/sprite1.png");
    background-repeat: no-repeat;
}

.social-btn-vk {
    background-position: 16px -238px;
    background-color: #1B1B1B;
}

.social-btn-fb {
    background-position: 19px -297px;
    background-color: #222222;
}

.social-btn-in {
    background-position: 13px -358px;
    background-color: #1B1B1B;
}

.copy {
    float: left;
    width: 300px;
    height: 70px;
    padding: 0px;
    margin: -12px;
    margin-left: 20px;
    display: inline-block;
}

.footer-copyright {
    float: right;
    width: 350px;
    height: 70px;
    margin-right: 0px;
}

.footer-copyright img {
    width: 27px;
    height: 34px;
}

.footer-image {
    display: inline-block;
    vertical-align: middle;
    background-position: left ;
    width: 60px;
    height: 60px;    
    background-color: #1B1B1B;
    position: relative;
    margin-right: 25px;

}

.footer-image img {
    position: absolute;
    top: 13px;
    left: 16px;
}

.social-btn {
    color: #ffffff;
}

.footer-copyright a {
    color: #c3c3c3;
    text-decoration: none;
}

.footer-copyright a:hover {
    color: #1B1B1B;
}

.footer-copyright a:active {
    color: #1B1B1B;
}